<!DOCTYPE html>
<html>
<head>
    <title>Profile<title>
</head>


<body>
{% extends "homepage.html" %}

{% block stories %}
      <h1> Welcome to <a href = "/profile/{{username}}"> {{ username }}'s </a> profile</h1>
      <h2> Stories {{username}} has contributed to: </h2>
      {% for title in addstories %}
      <ul>
	 <li> <a href = "http://127.0.0.1:5000/story/{{title}}"> {{ title }} </a></li>
      </ul>
      {% endfor %}
      <h2> Stories {{username}} has started: </h2>
      {% for title in startedstories %}
      <ul>
	 <li> <a href = "http://127.0.0.1:5000/story/{{title}}"> {{title}} </a></li>
      </ul>
      {% endfor %}
      {% endblock %}

</body>
</html>
